[filesystem]
data = {{ envString "DATA_DIR" }}
media = {{ envString "MEDIA_DIR" }}
logs = {{ envString "LOGS_DIR" }}
static = {{ envString "STATIC_DIR" }}

[database]
backend = {{ envString "DB_TYPE" }}
name = {{ envString "DB_DATABASE" }}
user = {{ envString "DB_USERNAME" }}
password = {{ envString "DB_PASSWORD" }}
host = {{ envString "DB_HOST" }}
port = {{ envInt "DB_PORT" }}

[site]
debug = {{ envBool "SITE_DEBUG" }}
url = {{ envString "SITE_URL" }}
secret = {{ envString "SITE_SECRET" }}

[mail]
from = {{ envString "MAIL_FROM" }}
host = {{ envString "MAIL_HOST" }}
port = {{ envInt "MAIL_PORT" }}
user = {{ envString "MAIL_USERNAME" }}
password = {{ envString "MAIL_PASSWORD" }}
tls = {{ envBool "MAIL_TLS" }}
ssl = {{ envBool "MAIL_SSL" }}

[celery]
backend = redis://{{ envString "CELERY_HOST" }}:{{ envInt "CELERY_PORT" }}/{{ envInt "CELERY_BACKENDDB" }}
broker = redis://{{ envString "CELERY_HOST" }}:{{ envInt "CELERY_PORT" }}/{{ envInt "CELERY_BROKERDB" }}

{{ if ne (envString "REDIS") "" }}
[redis]
location = {{ envString "REDIS" }}
session = {{ envBool "REDIS_SESSION" }}
{{ end }}
